[user]
  name = Diogo Azevedo
  email = diogoazevedos@gmail.com
[color]
  ui = auto
[commit]
  gpgsign = true
[credential]
  helper = osxkeychain
[push]
  default = simple
[core]
  editor = vim
  excludesfile = ~/.gitignore
  whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol